./Results/Exp-1/patch*
./Results/Exp-2a/thresh*
./Results/Exp-2b/thresh*
./Results/Exp-3a/ss*
./Results/Exp-3b/ss*
./Results/Exp-4a/tol*
./Results/Exp-4b/tol*
./Results/Exp-5a/inthr*
./Results/Exp-5b/inthr*

./__pycache__/*